{% extends "base.html" %}

{% block title %}South Dakota Code Camp Speakers{% endblock %}
{% block subtitle %}Listen to them flap their jaws. It's actually more interesting than it sounds.{% endblock %}
{% block body %}
<div id="SpeakerIndex">
{% for speaker in speaker_list %}
    <div class="row">
        <div class="span4 hidden-phone">
            <p><img src="/{{speaker.photo}}" alt="{{speaker}}" />
        </div>
        <div class="span4">
            <h3 class="index-title"><a href="{{ speaker.get_absolute_url }}">{{speaker}}</a></h3>
            <p>{{ speaker.bio }}</p>
        </div>
        <div class="span4 about">
            <h4>Session</h4>
            {% for session in speaker.session_set.all %}
            <p>{{ session }}
            {% endfor %}
            <h4>Other things</h4>
            {% if speaker.company %}<p>{{speaker.company}}{% endif %}
            {% if speaker.twitter %}<p><a href="http://twitter.com/{{speaker.twitter}}" alt="twitter handle {{speaker.twitter}}">{{speaker.twitter}}</a>{% endif %}
            {% if speaker.website %}<p><a href="{{speaker.website}}" alt="website">Website</a>{% endif %}
            {% if speaker.company_website %}<p><a href="{{speaker.company_website}}" alt="company website">Company Website</a>{% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block subbody %}
<div class="row main-heading">
    <div class="span12 center">
        <h3>Do you have something interesting to talk about?</h3>
        <p class=center><a class="btn btn-cc12 btn-large" href="/submit">Submit a session</a></p>
    </div>
</div>
{% endblock %}
