{% extends "base.html" %}

{% block title %}South Dakota Code Camp Speakers{% endblock %}
{% block subtitle %}Listen to them flap their jaws. It's actually more interesting than it sounds.{% endblock %}
{% block body %}
<div id="SpeakerIndex">
{% for speaker in speaker_list %}
    <div class="row">
        <div class="span4 hidden-phone speaker-image">
            <p><a href="{{ speaker.get_absolute_url }}"><img src="{{speaker.photo}}" alt="{{speaker}}" /></a>
        </div>
        <div class="span4">
            <h3 class="index-title"><a href="{{ speaker.get_absolute_url }}">{{speaker}}</a></h3>
            <p>{{ speaker.bio }}</p>
        </div>
        <div class="span4 about-speaker">
            <ul>
                <li><h4>Session:</h4>
                {% for session in speaker.session_set.all %}
                <p>{% if session.title %}{{ session.title }}{% else %}TBD{% endif %}
                {% endfor %}
                {% if speaker.company %}<li><h4>Company:</h4><p>{% if speaker.company_website %}<a href="{{speaker.company_website}}" alt="{{speaker.company}}">{% endif %}{{speaker.company}}{% if speaker.company_website %}</a>{% endif %}{% endif %}
                {% if speaker.twitter %}<li><h4>Twitter:</h4><p><a href="http://twitter.com/{{speaker.twitter}}" alt="twitter handle {{speaker.twitter}}">{{speaker.twitter}}</a>{% endif %}
                {% if speaker.website %}<li><h4>Web:</h4><p><a href="{{ speaker.website }}" alt="website">{{ speaker.website }}</a>{% endif %}
            </ul>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block subbody %}
<div class="row main-heading">
    <div class="span12 center">
        <h3>Do you have something interesting to talk about?</h3>
        <p class=center><a class="btn btn-cc12 btn-large" href="/submit">Submit a session</a></p>
    </div>
</div>
{% endblock %}
