{% extends "base.html" %}

{% block title %}South Dakota Code Camp Speakers{% endblock %}
{% block body %}
<ul>
{% for speaker in speaker_list %}
    <li>
        <div><a href="{% url speaker_detail speaker.slug speaker.id %}">{{speaker}}</a></div>
        <div>{{speaker.first_name}}</div>
        <div>{{speaker.last_name}}</div>
        <div>{{speaker.company}}</div>
        <div>{{speaker.twitter}}</div>
        <div>{{speaker.email}}</div>
        <div>{{speaker.website}}</div>
        <div>{{speaker.company_website}}</div>
    </li>
{% endfor %}
</ul>
{% endblock %}
