{% load static %}

<div id="MainCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div id="Campfire" class="row well item active">
            <div class="span6"><div class="well-copy">
                <h3>We'll save a seat for you</h3>
                
                
            </div></div>
            <div class="span5"><img class="hidden-mobile" src="{% static 'cc12/img/Site.png' %}" alt-="Code Camp Campfire" /></div>
        </div>
        <div id="Camper" class="row well item">
            <div class="span6"><div class="well-copy">
                <h3>We'll save a seat for you</h3>
                
                
            </div></div>
            <div class="span5"><img class="hidden-mobile" src="{% static 'cc12/img/Camper.png' %}" alt-="Code Camp Camper" /></div>
        </div>
        <div id="Canoe" class="row well item">
            <div class="span6"><div class="well-copy">
                <h3>We'll save a seat for you</h3>
                
                
            </div></div>
            <div class="span5"><img class="hidden-mobile" src="{% static 'cc12/img/Canoe.png' %}" alt-="Code Camp Canoe" /></div>
        </div>
    </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#MainCarousel" data-slide="prev">&lsaquo;<span>Prev</span></a>
  <a class="carousel-control right" href="#MainCarousel" data-slide="next"><span>Next</span>&rsaquo;</a>
</div>
