{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if PAGE_NAME %}{{ PAGE_NAME }} : {% endif %}{% if SITE_NAME %}{{ SITE_NAME }}{% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{% static 'cc12/css/main.css' %}">
        <script src="{% static 'cc12/js/modernizr-2.6.1.min.js' %}"></script>
    </head>
    <body>
        
        {% include "navbar.html" %}

        <div id="MainContainer" class="container">
            
            {% block hero-unit %}{% endblock %}

            <div class="row">
                <div class="span12 center">
                    <h2>{% block title %}South Dakota Code Camp{% endblock %}</h2>
                    <h3>{%block subtitle %}It's like fat camp, without the diet{% endblock %}</h3>
                </div>
            </div>
            
            {% block body %}{% endblock %}

            <div class="row">
                <div class="span12 center">
                    <h2>{% block title2 %}Join Us Today{% endblock %}</h2>
                    <h3>{%block subtitle2 %}We want your money!{% endblock %}</h3>
                </div>
            </div>

            {% block subbody %}{% endblock %}

        </div> <!-- /container -->

        {% include 'footer.html' %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'cc12/js/jquery-1.8.0.min.js' %}"><\/script>')</script>
        <script src="{% static 'cc12/js/plugins.js' %}"></script>
        <script src="{% static 'cc12/js/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>