<footer id="MainFooter">
    <div class="footer-inner">
        <div class="container">
            <div id="FollowBox">
                <p>follow</p><a href="//www.facebook.com/SDCodeCamp" class="share fb"></a><a href="//twitter.com/sdcodecamp" class="share tw"></a>
            </div>
            <div id="FooterLogo">
                <a class="brand" href="/">
                    <span class=logo></span><span class=vm>SD</span>Code Camp<span class=vm>12</span>
                </a>
            </div>
            <div id="SponsoredBy">
                <h4>Sponsored by:</h4>
                <p><a href="http://blendinteractive.com">Blend Interactive</a></p>
            </div>
        </div>
    </div>
</footer>