{% extends "base.html" %}
{% load static %}
{% load chunks %}
{% block hero-unit %}
    {% include "codecamp/scroller.html" %}
{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block body %}
<!-- Example row of columns -->
{% chunk "home_page_promos" %}
{% endblock %}

{% block subbody %}
<div class="row main-heading">
    <div class="span12 center">
        <h2>Registration is now closed</h2>
        
    </div>
</div>
<div class="row accordion">
	<div class="span8">
		<h4>South Dakota Code Camp</h4>
		<p>{{ flatpage.content }}
	</div>
	<div class="span4">
		
	</div>
</div>
{% endblock %}
